Scalling

In [1]:
import pandas as pd

In [97]:
df = pd.read_csv(r'D:\My Drive\chd_data.csv')
df

    age  chd
0    20    0
1    23    0
2    24    0
3    25    1
4    25    0
..  ...  ...
95   63    1
96   64    1
97   64    0
98   65    1
99   69    1

[100 rows x 2 columns]

In [98]:
import sklearn

In [99]:
x = df[['age']]
x

    age
0    20
1    23
2    24
3    25
4    25
..  ...
95   63
96   64
97   64
98   65
99   69

[100 rows x 1 columns]

In [100]:
y = df[['chd']]
y

    chd
0     0
1     0
2     0
3     1
4     0
..  ...
95    1
96    1
97    0
98    1
99    1

[100 rows x 1 columns]

In [101]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [102]:
X_train

    age
60   48
80   57
90   60
68   52
51   44
..  ...
96   64
67   51
64   49
47   43
44   42

[70 rows x 1 columns]

In [103]:
y_train

    chd
60    1
80    1
90    0
68    1
51    0
..  ...
96    1
67    0
64    0
47    1
44    0

[70 rows x 1 columns]

In [104]:
X_test

    age
26   35
86   58
2    24
55   46
75   55
93   62
16   32
73   55
54   46
95   63
53   45
92   61
78   56
13   30
7    28
30   37
22   34
24   34
33   38
8    28
43   42
62   49
3    25
71   53
45   43
48   44
6    26
99   69
82   57
76   56

In [105]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# fit the scaler to the train set, it will learn the parameters
scaler.fit(X_train)

# transform train and test sets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [106]:
scaler.mean_

array([44.38571429])

In [107]:
X_train_scaled

array([[ 0.32441203],
       [ 1.13223647],
       [ 1.40151128],
       [ 0.68344512],
       [-0.03462105],
       [-0.75268721],
       [-1.02196202],
       [ 0.23465376],
       [ 0.4141703 ],
       [ 0.95271993],
       [-1.91954472],
       [ 0.32441203],
       [-0.21413759],
       [-0.21413759],
       [-1.74002818],
       [-1.29123683],
       [-1.11172029],
       [-0.30389586],
       [-0.39365413],
       [-1.65026991],
       [ 1.40151128],
       [ 0.32441203],
       [-2.18881954],
       [-0.57317067],
       [-0.75268721],
       [-0.03462105],
       [-1.29123683],
       [-0.4834124 ],
       [-0.93220375],
       [ 0.05513722],
       [-1.29123683],
       [-0.66292894],
       [ 0.50392857],
       [ 0.23465376],
       [ 1.13223647],
       [ 1.22199474],
       [-0.66292894],
       [ 1.13223647],
       [-1.29123683],
       [ 1.31175301],
       [-1.02196202],
       [-0.75268721],
       [-0.03462105],
       [ 1.76054436],
       [ 1.85030263],
       [ 0.68344512],
       [-0.93220375],
       [ 1.58102782],
       [ 0.86296166],
       [ 1.0424782 ],
       [-0.84244548],
       [-0.39365413],
       [ 1.13223647],
       [-0.12437932],
       [-0.30389586],
       [ 0.50392857],
       [ 0.23465376],
       [-1.29123683],
       [ 1.31175301],
       [ 0.77320339],
       [ 1.22199474],
       [-0.4834124 ],
       [-0.93220375],
       [ 1.13223647],
       [-1.3809951 ],
       [ 1.76054436],
       [ 0.59368685],
       [ 0.4141703 ],
       [-0.12437932],
       [-0.21413759]])

Logistic Regression

In [108]:
from sklearn.linear_model import LogisticRegression

In [109]:
lr = LogisticRegression()
lr_scaled = LogisticRegression()

In [111]:
lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled,y_train)

c:\Users\Admin\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Admin\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [112]:
y_pred = lr.predict(X_test)
y_pred_scaled = lr_scaled.predict(X_test_scaled)

In [113]:
from sklearn.metrics import accuracy_score

In [114]:
print("Actual",accuracy_score(y_test,y_pred))
print("Scaled",accuracy_score(y_test,y_pred_scaled))

Actual 0.7333333333333333
Scaled 0.7333333333333333

Min Max Scalling

In [115]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [116]:
X_train_scaled

array([[0.62222222],
       [0.82222222],
       [0.88888889],
       [0.71111111],
       [0.53333333],
       [0.35555556],
       [0.28888889],
       [0.6       ],
       [0.64444444],
       [0.77777778],
       [0.06666667],
       [0.62222222],
       [0.48888889],
       [0.48888889],
       [0.11111111],
       [0.22222222],
       [0.26666667],
       [0.46666667],
       [0.44444444],
       [0.13333333],
       [0.88888889],
       [0.62222222],
       [0.        ],
       [0.4       ],
       [0.35555556],
       [0.53333333],
       [0.22222222],
       [0.42222222],
       [0.31111111],
       [0.55555556],
       [0.22222222],
       [0.37777778],
       [0.66666667],
       [0.6       ],
       [0.82222222],
       [0.84444444],
       [0.37777778],
       [0.82222222],
       [0.22222222],
       [0.86666667],
       [0.28888889],
       [0.35555556],
       [0.53333333],
       [0.97777778],
       [1.        ],
       [0.71111111],
       [0.31111111],
       [0.93333333],
       [0.75555556],
       [0.8       ],
       [0.33333333],
       [0.44444444],
       [0.82222222],
       [0.51111111],
       [0.46666667],
       [0.66666667],
       [0.6       ],
       [0.22222222],
       [0.86666667],
       [0.73333333],
       [0.84444444],
       [0.42222222],
       [0.31111111],
       [0.82222222],
       [0.2       ],
       [0.97777778],
       [0.68888889],
       [0.64444444],
       [0.51111111],
       [0.48888889]])